<form action="/sessions" method="post">
	<input type="text" placeholder="email" name="email">
	<input type="password" placeholder="password" name="password"></br>
	<input type="submit">
</form>
<form method="link" action="/users/new">
<input type="submit" value="Register">
</form>